* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.add-todo {
    background-color:aquamarine;
    grid-column: 1/4;
    grid-row: 1 / 3
}

.post-it-side {
    background-color: bisque;
    grid-column: 1/4;
    grid-row: 3 /7;
}

.list-area {
    background-color: blanchedalmond;
    grid-column:  4/13;
    grid-row: 1 / 7;
}

main {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    width: 100vw;
    height: 100vh;
}

.dailyPage, .weeklyPage, .monthlyPage {
    background-color: blueviolet;
    margin: 20px;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));

    text-align: center;
    font-size: 2rem;
    font-weight: 900;
}

.arrowContainerBox{
    display: flex;
    flex-direction: column;
    grid-row: 1;
}

.arrowContainer-weekly, .arrowContainer-monthly {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    width: 95%;
    margin: 5px;
    grid-column: 1/7;
    grid-row: 1;
}

.arrowContainer-daily{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-self: center;
    align-items: center;
    width: 95%;
    margin: 5px;
    grid-column: 1/7;
    grid-row: 1;
}

.post-complete, .post-fail {
    margin: 20px;
    height: 40%;
    background-color: yellowgreen;
    font-size: 1.5rem;
    font-weight: 900;
}

.arrow {
   height: 20px;
   width: 20px;
    background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 900;
}

.dailyPage input, .weeklyPage input, .monthlyPage input {
    margin: 10px;
    justify-content: start;
}

.taskList {
    grid-row:2;
    grid-column: 1 /7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

}

.taskContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.heading{
    grid-row: 1;
    grid-column: 2/6;
}