* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --col1: #F2D0E9;
    --col2: #ACF2DE;
    --col3: #F2E0DC;
    --col4: #F2BBBB;
    --col5: #0D0D0D;
}

body {
    background-color: var(--col2);
    color: var(--col5);
    font-family: fantasy;
    overflow: hidden;
}

.add-todo {
    background-color: var(--col1);
    grid-column: 1/4;
    grid-row: 1 / 3;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
}

.add-todo form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


form input {
    background-color: var(--col3);
    border: 1px solid var(--col5);
    border-radius: 5px;
    padding: 3px;
}

.btn {
    background-color: var(--col4);
    border: 1px solid var(--col5);
}

.deleteBtn {
    background-color: var(--col4);
    border: 1px solid var(--col5);
    border-radius: 5px;
    padding: 10px;
}
.post-it-side {
    
    grid-column: 1/4;
    grid-row: 3 /7;
}

.list-area {
    
    grid-column:  4/13;
    grid-row: 1 / 7;
}
.checkbox {
    width: 20px;
    height: 20px;
    background-color: var(--col3);
    accent-color: var(--col4);
}

.radio {
    
    accent-color: var(--col4);
}

main {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    width: 100vw;
    height: 100vh;
}

.dailyPage, .weeklyPage, .monthlyPage {
    background-image: url('images/notepad.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));

    text-align: center;
    font-size: 2rem;
    font-weight: 900;
}

.arrowContainerBox{
    display: flex;
    flex-direction: column;
    grid-row: 1;
}

.arrowContainer-weekly, .arrowContainer-monthly {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
    align-items: center;
    width: 70%;
    margin: 5px;
    grid-column: 1/7;
    grid-row: 2;
}

.arrowContainer-daily{
    display: flex;
    flex-direction: row;
    justify-content: end;
    justify-self: center;
    align-self: center;
    align-items: center;
    width: 70%;
    margin: 5px;
    grid-column: 1/7;
    grid-row: 2;
}

.post-complete, .post-fail {
    margin: 20px;
    height: 40%;
    background-color: var(--col1);
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow {
   height: 20px;
   width: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 900;
}

.dailyPage input, .weeklyPage input, .monthlyPage input {
    margin: 10px;
    justify-content: start;
}

.taskList {
    grid-row: 3/ 6;
    grid-column: 1 /7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;


}

.taskContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 80%;
    padding: 0 30px;
}

.heading{
    grid-row: 2;
    grid-column: 2/6;
}

.popup {
    padding: 2px;
    background-color: var(--col4);
    border: solid 3px var(--col5);
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    width: 18ch;
    display: none;
}

@media  (max-width: 426px) {
   
    .dailyPage, .weeklyPage, .monthlyPage {
        margin: 10px;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: repeat(6, minmax(0, 1fr));
        background-image: url('images/notepad-long.png');

    }

    main {
        grid-template-columns: 100%;
        grid-template-rows: repeat(70, minmax(0,1fr));
    
        width: 90vw;
    }

    .add-todo {
        grid-row: 1 /15;
        grid-column: 1;
        
    }

   #addTask {
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-wrap: wrap ;
    width: 90%;
    padding: 0 10px;
    }
    form input {
       
        margin: 3px;
    
    }

    .post-it-side {
        grid-row: 15/ 30;
        grid-column: 1;
    }

    .list-area {
        grid-row: 30/ 80;
        grid-column: 1;
        
    }

    .post-complete, .post-fail {
        margin: 5px;
        height: 40%;
        background-color: var(--col1);
        font-size: 1.2rem;
        font-weight: 700;
    }

    h3 {
        font-size: 1.1rem;
    }

    .heading {
        grid-column: 2/4;
    
    }

    .deleteBtn {
        padding: 5px;
        margin: 0 3px;
    }

    label {
        font-size: 1.1rem;
    }
}